@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


.rtl {
   direction: rtl;
    
  }
  
  .ltr {
    direction: ltr;
  }


  body{
    background-color: white;
  }
  
  #light {
    background-color: white;
    color: #003464;
  }
  #dark{
    background-color: #151D32;
    color: #a1a1aa;
    border-color: #a1a1aa;
  }

  #darkDash{
    background-color: #292F45;
    color: #e2e8f0;
  }
  #lightDash{
    background-color: #E1E9EE;
    color: #003464;
  }
  #darkswiper{
    background-color: #3F4861;
    color: #e2e8f0;
  }
  #lightswiper{
    background-color: #CDD9E0;
    color: #003464;
    
  }
  #darklogin{
    background-color: #3F4861;
    color: #e2e8f0;
  }
  #lightlogin{
    background-color: white;
    color: #003464;
    
  }

 
